#Site Information
site_name = 安否確認システム　4S - Safety Status Survey System - 
toppage_url = "index.php?func=top"

#Meta Data
meta_keywords = "安否確認,災害対策"
meta_description = "災害発生時の安否確認システム。携帯電話からも利用可能。"
meta_author = "YUKI TAKAHASHI"
meta_copyright = "(c) 2011-2012 YUKI TAKAHASHI"
link_mail = "mailto:09t4041a@hcs.ibaraki.ac.jp"

# HTTP_HOST
http_host = "http://localhost/anpi/"

# Header Menu Link Pass
header2_url = "index.php?func=top"

# Header Menu Name(Japanese)
header2_jname = "トップページ"

# Navigator Link Pass
navi00_url = "index.php?func=top"
navi01_url = "index.php?func=functional_overview"
navi02_url = "index.php?func=how_to_use"
navi03_url = "index.php?func=member_page"
navi04_url = "index.php?func=administrator_page"
navi05_url = "index.php?func=inquiry"

# Navigator Name(Japanese)
navi00_jname = "トップページ"
navi01_jname = "機能概要"
navi02_jname = "使い方"
navi03_jname = "利用者ページ"
navi04_jname = "管理者ページ"
navi05_jname = "お問い合わせ"

# Navigator Name(English)
navi00_ename = "top page"
navi01_ename = "functional overview"
navi02_ename = "how to use"
navi03_ename = "member page"
navi04_ename = "administrator page"
navi05_ename = "inquiry"

# Others
footer_copyright = Copyright&nbsp;&copy;&nbsp;2013&nbsp;TEAM&nbsp;HITOBASHIRA, All&nbsp;Rights&nbsp;Reserved.